
    <%= render 'developer_apps/app_header' %>
    <%= turbo_frame_tag("app-members") do %>
    <strong>Editing <%= @app_membership.user.name %>'s role</strong>
    <p>
        Admins can edit the developer app and manage members on the team.
    </p>
    <%= render 'form' %>
    <% end %>
