<%= render 'developer_apps/app_header' %>
<%= turbo_frame_tag("app-members") do %>
  <h3 class="mb-5 center text-2xl font-bold dark:text-white">Editing <%= @app_membership.user.name %></h3>
  <%= render 'form' %>
<% end %>
