    <%= turbo_frame_tag("app-members") do %>
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
            <th>User</th>
            <th>Role</th>
            </tr>
            </thead>

            <%= render @app_memberships %>
        </table>

        <h4>Pending Invitations</h4>

        <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
            <th>Developer App</th>
            <th>Invitee</th>
            <th>Invitee Email</th>
            <th>Role</th>
            <th>Invited By</th>
            <th>Status</th>
            </tr>
        </thead>
        <% @sent_invitations.each do |app_invitation| %>
            <%= render app_invitation, invitation_type: "sent" %>
        <% end %>
        </table>

        <% if current_user.platform_admin? || @current_user_membership.admin? %>
            <%= link_to "Add Members", new_developer_app_app_invitation_path(@developer_app.id), class: 'btn btn-primary' %>
        <% end %>
    <% end %>