<h3><%= @developer_app.name %></h3>
<span><strong>Client ID:</strong> <%= @developer_app.client_id %></span>
<span><strong>Created:</strong> <%= @developer_app.created_at.strftime("%b %d, %Y") %></span>