<h1>Editing app invitation</h1>

<%= render "form", app_invitation: @app_invitation %>

<br>

<div>
  <%= link_to "Show this app invitation", @app_invitation %> |
  <%= link_to "Back to app invitations", app_invitations_path %>
</div>
