<h3>Received invitations</h3>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Developer App</th>
      <th>Invitee</th>
      <th>Invitee Email</th>
      <th>Role</th>
      <th>Invited By</th>
      <th>Status</th>
    </tr>
  </thead>
  <% @received_invitations.each do |app_invitation| %>
    <%= render app_invitation, invitation_type: "received"%>
  <% end %>
</table>

<h3>Sent invitations</h3>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Developer App</th>
      <th>Invitee</th>
      <th>Invitee Email</th>
      <th>Role</th>
      <th>Invited By</th>
      <th>Status</th>
    </tr>
  </thead>
  <% @sent_invitations.each do |app_invitation| %>
    <%= render app_invitation, invitation_type: "sent" %>
  <% end %>
</table>